@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-4xl;
  }

  h2 {
    @apply text-3xl;
  }

  h3 {
    @apply text-2xl;
  }

  h4 {
    @apply text-2xl;
  }
}

body{
  overflow: hidden;
}


.animation::after {
  content: "";
  position: fixed;
  top: 6%;
  right: 11%;
  background-color: #000;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  transition: all .5s ease;
  opacity: .5;

}
.animations::after {
  content: "";
  position: fixed;
  top: 5%;
  right: 8%;
  background-color: #000;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  transition: all .5s ease;
  transform: scale(130);
  z-index: 50;
  opacity: .5;
  
}